.search-form {
    display: flex;
    background-color: #005ea8;
    color: white;
    padding: 30px;
    border-radius: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: max(320px, 70vw);
    flex-wrap: wrap;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px solid #ccc;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #ccc;
  }
  